    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#"><span class="emphasis">ONEMILLION</span>LINES_</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#who-we-are">WHO WE ARE</a></li>
            <li><a href="#get-involved">GET INVOLVED</a></li> 
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container text-center">
        <h1>Our Gola ist to insipre <br> Tallahassee to write 1,000,000 <br>  lines of code_</h1>
        <p>All over the country people are taking the <strong>HOUR OF CODE</strong>
         challenge issued by <strong>CODE.org.</strong>Millions of lines of <br>code are being written. In the capital 
         of Florida, Tallhassee, the community is taking the challenge and our goal is <br>to write 1,000,000 line of code_</p>
        <p><a class="btn btn-danger btn-lg" href="#" role="button">Get Involved</a></p>
        <p><img src="/assets/code.png" title="code.org logo" alt="code.org"></p>
      </div>
    </div>
    <div class="container-fluid text-center slogan" id="who-we-are">
      <img src="assets/academy_brand_med.png" title="brand logo"
      alt="academy brand me"> 
      <h1>who we are</h1>
      <div class="underline"></div>
      <p>We are <a href="http://www.massiveacademy.us/">MASSIVE Academy</a>. We aim to improve education through both <br>method 
      - effective project-based learning - and material - by teaching skills <br>that 
      are applicable to improving your life today.</p>
    </div>
    <div class="container-fluid text-center homepage" id="get-involved">
      <h1>GET INVOLVED</h1>
      <div class="underline"></div>
      <div class="row">
        <div class="col-md-4">
          
         <!-- <span class="fa-stack fa-4x">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-user fa-stack-1x fa-inverse"></i>
            </span>--> 
            
          <%=fa_stacked_icon "user inverse", base: 'circle', class:'fa-4x'%>
          <h2>Students</h2>
          <p>Want to learn how to code? Want to help us get to 1,000,000 lines? 
          Click the button below and we'll let you know how to get involved. </p>
          <p><a class="btn btn-default" href="#" role="button">Start Learning &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <%= fa_stacked_icon "pencil inverse",base: "circle", class:'fa-4x'%>
          <h2>Educators</h2>
          <p>Want to bring this initiative to your school or institution? 
          Awesome! Click the button below and we'll make it happen.</p>
          <p><a class="btn btn-default" href="#" role="button">Join the Initiative &raquo;</a></p>
       </div>
        <div class="col-md-4">
          <%= fa_stacked_icon "money inverse", base: "circle", class:'fa-4x'%>
          <h2>Sponsors</h2>
          <p>We love all the support we get to help host more events, and empower
          more lives with the knowledge of coding. Click to get involved.</p>
          <p><a class="btn btn-default" href="https://docs.google.com/forms/d/e/1FAIpQLScnbyavLRMEGsMlRLbhIpp3-WWG323Pfvo1UdpLMRzY5JgfxA/viewform" target="_blank" role="button">Give Support &raquo;</a></p>
        </div>
        <div class="container footer">
           <img src="/assets/one_million_bottom_brand.png" title="one million bottom brand" alt="one million bottom brand">
        </div>
      </div>
      
      
    </div> <!-- /container -->
